<div id="precios" class="max-w-5xl mx-auto py-20 bg-gray-100 rounded-4xl my-20 font-montserrat px-6 md:px-12">

  <div class="text-center mb-12">
    <div class="font-bold text-[30px] mb-2">Planes disponibles</div>
    <div class="text-gray-700">Comienza gratis hoy mismo y mejora tu plan cuando tu negocio lo necesite.</div>
  </div>

  <div class="grid gap-8 grid-cols-1 md:grid-cols-2 items-stretch">
    <div class="bg-white px-8 py-10 rounded-4xl shadow-md flex flex-col">
      <h1 class="text-xl font-bold">Plan Básico</h1>
      <p class="mb-6 text-gray-500">Para negocios de un solo dueño.</p>
      <p class="text-center mb-8"><span class="text-[44px] font-bold">S/0</span><span class="text-gray-400 font-medium"> / mes</span></p>
      <div class="leading-loose mb-8 grow">
        <p class="flex items-center gap-2 mb-2">
          <span class="bg-blue-100 text-blue-800 rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold">✓</span> 1 Usuario (Dueño)
        </p>
        <p class="flex items-center gap-2 mb-2">
          <span class="bg-blue-100 text-blue-800 rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold">✓</span> Inventario web básico
        </p>
        <p class="flex items-center gap-2 mb-2">
          <span class="bg-blue-100 text-blue-800 rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold">✓</span> Caja básica
        </p>
      </div>

      <a
        routerLink="/auth"
        class="text-black px-8 py-4 rounded-full font-extrabold font-montserrat flex justify-center border-2 border-gray-100 shadow-around
          transition duration-300 ease-in-out
          hover:bg-gray-50 hover:scale-103 mt-auto">
        Empezar Gratis
      </a>
    </div>


    <div class="relative bg-white px-8 py-10 rounded-4xl border-2 border-blue-800 shadow-xl flex flex-col mt-8 md:mt-0">
      <div class="absolute -top-4 left-1/2 transform -translate-x-1/2 bg-blue-800 text-white text-[10px] font-bold px-4 py-1 rounded-full uppercase tracking-widest shadow-lg whitespace-nowrap">
        Plan Recomendado
      </div>

      <h1 class="text-xl font-bold">Plan Pro</h1>
      <p class="mb-6 text-gray-500">Control total incluso fuera del negocio.</p>
      <p class="text-center mb-8"><span class="text-[44px] font-bold leading-tight">S/(Precio escogido)</span><span class="text-gray-400 font-medium"> / mes</span></p>
      <div class="leading-loose mb-8 grow">
        <p class="flex items-center gap-2 mb-2">
          <span class="bg-blue-100 text-blue-800 rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold">✓</span> Todo el plan básico
        </p>
        <p class="flex items-center gap-2 mb-2">
          <span class="bg-blue-100 text-blue-800 rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold">✓</span> Multiples roles
        </p>
        <p class="flex items-center gap-2 mb-2">
          <span class="bg-blue-100 text-blue-800 rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold">✓</span> Auditoría estricta
        </p>
        <p class="flex items-center gap-2 mb-2">
          <span class="bg-blue-100 text-blue-800 rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold shrink-0 mt-1">✓</span> <span class="text-blue-800 font-bold"> Reportes de cierre por WhatsApp</span>
        </p>
      </div>

      <a
        routerLink="/auth"
        class="bg-blue-800 text-white px-8 py-4 rounded-full font-extrabold font-montserrat flex justify-center
          transition duration-300 ease-in-out
          hover:bg-blue-900 hover:scale-103 mt-auto shadow-around">
        Actualizar a Pro
      </a>
    </div>
  </div>

</div>
