<div class="sticky top-0 z-50 bg-white/80 backdrop-blur-md flex items-end justify-between mt-10 px-4 md:px-8 lg:px-12 pt-8 pb-4 w-full max-w-screen-2xl mx-auto">
  <div class="text-xl/10 md:pl-12 text-amber-950 font-extrabold font-plusJakartaSans"><span class="text-white bg-blue-800 p-2 rounded-xl">NOMBRE</span> DEL SAAS</div>

  <div class="flex items-end gap-4">
    <a routerLink="/auth/login" class="text-black px-4 py-2 rounded-lg font-extrabold font-montserratAlternate text-center
      transition duration-500 ease-in-out
      hover:bg-gray-100/80 hover:scale-103">Iniciar Sesion</a>

    <a routerLink="/auth/register" class="bg-blue-800 text-white px-4 py-2 rounded-full font-extrabold font-montserratAlternate text-center
      transition duration-500 ease-in-out
      hover:bg-blue-900 hover:scale-103">Comienza Gratis</a>
  </div>

</div>
