<div class="flex items-center justify-between px-4 md:px-8 lg:px-12 py-12">
  <div class="text-md pl-12 text-amber-950 font-extrabold font-plusJakartaSans">NOMBRE DEL SAAS</div>

  <div class="flex items-center gap-4">
    <a routerLink="/auth" class="text-black px-4 py-2 rounded-lg font-extrabold font-montserratAlternate
      transition duration-500 ease-in-out
      hover:bg-gray-300">Iniciar Sesion</a>

    <a routerLink="/auth" class="bg-blue-200 text-blue-900 px-4 py-2 rounded-full font-extrabold font-montserratAlternate
      transition duration-500 ease-in-out
      hover:bg-blue-300">Crear Cuenta</a>
  </div>

</div>
